ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
ul li {
  list-style: none;
  float: left;
  margin-left: 9px;
}
#img1 {
  height: 100px;
  width: 100px;
  border-radius: 5%;
}
#img2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
